
body {
  overflow-x: hidden;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  @keyframes inverse-rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }



  .rotating {
    -webkit-animation: rotating 12s linear infinite;
    -moz-animation: rotating 12s linear infinite;
    -ms-animation: rotating 12s linear infinite;
    -o-animation: rotating 12s linear infinite;
    animation: rotating 12s linear infinite;
  }


  .rotating-inverse {
    -webkit-animation: inverse-rotating 12s linear infinite;
    -moz-animation: inverse-rotating 12s linear infinite;
    -ms-animation: inverse-rotating 12s linear infinite;
    -o-animation: inverse-rotating 12s linear infinite;
    animation: inverse-rotating 12s linear infinite;
  }


  .shake {

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;


    -webkit-animation: shake 0.82s infinite;
    -moz-animation: shake 0.82s infinite;
    -o-animation: shake 0.82s infinite;
    animation: shake 0.82s infinite;



  }





  .row-full{
    width: 100vw;
    position: absolute;
    /* margin-right: -95vw; */
    /* height: 100px; */
   }















   
.holder {
  width: 70px;
  height: 70px;
  animation: rotate 150s linear infinite;
  position: absolute;
  top: 50vh;
  left: -10px;
  opacity: 0.5;

  
.child {
  width: 30%;
  height: 30%;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
}
.child:nth-child(1) {
  filter: invert(0);
  opacity: 0;
  animation-delay: -10s;
  transform: rotate(360deg) translateX(70px);
}
.child:nth-child(2) {
  filter: invert(0.05);
  opacity: 0.1;
  animation-delay: -9s;
  transform: rotate(340deg) translateX(70px);
}
.child:nth-child(3) {
  filter: invert(0.1);
  opacity: 0.2;
  animation-delay: -8s;
  transform: rotate(320deg) translateX(70px);
}
.child:nth-child(4) {
  filter: invert(0.15);
  opacity: 0.3;
  animation-delay: -7s;
  transform: rotate(300deg) translateX(70px);
}
.child:nth-child(5) {
  filter: invert(0.2);
  opacity: 0.4;
  animation-delay: -6s;
  transform: rotate(280deg) translateX(70px);
}
.child:nth-child(6) {
  filter: invert(0.25);
  opacity: 0.5;
  animation-delay: -5s;
  transform: rotate(260deg) translateX(70px);
}
.child:nth-child(7) {
  filter: invert(0.3);
  opacity: 0.6;
  animation-delay: -4s;
  transform: rotate(240deg) translateX(70px);
}
.child:nth-child(8) {
  filter: invert(0.35);
  opacity: 0.7;
  animation-delay: -3s;
  transform: rotate(220deg) translateX(70px);
}
.child:nth-child(9) {
  filter: invert(0.4);
  opacity: 0.8;
  animation-delay: -2s;
  transform: rotate(200deg) translateX(70px);
}
.child:nth-child(10) {
  filter: invert(0.45);
  opacity: 0.9;
  animation-delay: -1s;
  transform: rotate(180deg) translateX(70px);
}
.child:nth-child(11) {
  filter: invert(0.5);
  opacity: 1;
  animation-delay: 0s;
  transform: rotate(160deg) translateX(70px);
}
.child:nth-child(12) {
  filter: invert(0.55);
  opacity: 1.1;
  animation-delay: 1s;
  transform: rotate(140deg) translateX(70px);
}
.child:nth-child(13) {
  filter: invert(0.6);
  opacity: 1.2;
  animation-delay: 2s;
  transform: rotate(120deg) translateX(70px);
}
.child:nth-child(14) {
  filter: invert(0.65);
  opacity: 1.3;
  animation-delay: 3s;
  transform: rotate(100deg) translateX(70px);
}
.child:nth-child(15) {
  filter: invert(0.7);
  opacity: 1.4;
  animation-delay: 4s;
  transform: rotate(80deg) translateX(70px);
}
.child:nth-child(16) {
  filter: invert(0.75);
  opacity: 1.5;
  animation-delay: 5s;
  transform: rotate(60deg) translateX(70px);
}
.child:nth-child(17) {
  filter: invert(0.8);
  opacity: 1.6;
  animation-delay: 6s;
  transform: rotate(40deg) translateX(70px);
}
.child:nth-child(18) {
  filter: invert(0.85);
  opacity: 1.7;
  animation-delay: 7s;
  transform: rotate(20deg) translateX(70px);
}
.child:nth-child(19) {
  filter: invert(0.9);
  opacity: 1.8;
  animation-delay: 8s;
  transform: rotate(0deg) translateX(70px);
}

.item {
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite;
  box-shadow: #ff283c 100px 100px 1px, #ff283c 10px 100px 1px, red 50px 50px 20px;
}


}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}












.moving-animation {
  animation: moving linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: moving linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: moving linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: moving linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: moving linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes moving{
  0% {
    transform:  translate(0px,0px)  ;
  }
  26% {
    transform:  translate(-49px,-1px)  ;
  }
  50% {
    transform:  translate(-49px,-49px)  ;
  }
  75% {
    transform:  translate(0px,-50px)  ;
  }
  100% {
    transform:  translate(0px,2px)  ;
  }
}

@-moz-keyframes moving{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  26% {
    -moz-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -moz-transform:  translate(-49px,-49px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-50px)  ;
  }
  100% {
    -moz-transform:  translate(0px,2px)  ;
  }
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  26% {
    -webkit-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -webkit-transform:  translate(-49px,-49px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-50px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,2px)  ;
  }
}

@-o-keyframes moving {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  26% {
    -o-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -o-transform:  translate(-49px,-49px)  ;
  }
  75% {
    -o-transform:  translate(0px,-50px)  ;
  }
  100% {
    -o-transform:  translate(0px,2px)  ;
  }
}

@-ms-keyframes moving {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  26% {
    -ms-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -ms-transform:  translate(-49px,-49px)  ;
  }
  75% {
    -ms-transform:  translate(0px,-50px)  ;
  }
  100% {
    -ms-transform:  translate(0px,2px)  ;
  }
}






.circle-1-anim{
  animation: circle-1-anim linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: circle-1-anim linear 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: circle-1-anim linear 12s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: circle-1-anim linear 12s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: circle-1-anim linear 12s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes circle-1-anim{
  0% {
    transform:  translate(0px,0px)  ;
  }
  50% {
    transform:  translate(-50px,-2px)  ;
  }
  100% {
    transform:  translate(-1px,-1px)  ;
  }
}

@-moz-keyframes circle-1-anim{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  50% {
    -moz-transform:  translate(-50px,-2px)  ;
  }
  100% {
    -moz-transform:  translate(-1px,-1px)  ;
  }
}

@-webkit-keyframes circle-1-anim {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  50% {
    -webkit-transform:  translate(-50px,-2px)  ;
  }
  100% {
    -webkit-transform:  translate(-1px,-1px)  ;
  }
}

@-o-keyframes circle-1-anim {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  50% {
    -o-transform:  translate(-50px,-2px)  ;
  }
  100% {
    -o-transform:  translate(-1px,-1px)  ;
  }
}

@-ms-keyframes circle-1-anim {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  50% {
    -ms-transform:  translate(-50px,-2px)  ;
  }
  100% {
    -ms-transform:  translate(-1px,-1px)  ;
  }
}









.circle-2-anim{
  animation: circle-2-anim linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: circle-2-anim linear 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: circle-2-anim linear 12s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: circle-2-anim linear 12s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: circle-2-anim linear 12s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes circle-2-anim{
  0% {
    transform:  translate(-50px,0px)  ;
  }
  50% {
    transform:  translate(-1px,2px)  ;
  }
  100% {
    transform:  translate(-49px,-1px)  ;
  }
}

@-moz-keyframes circle-2-anim{
  0% {
    -moz-transform:  translate(-50px,0px)  ;
  }
  50% {
    -moz-transform:  translate(-1px,2px)  ;
  }
  100% {
    -moz-transform:  translate(-49px,-1px)  ;
  }
}

@-webkit-keyframes circle-2-anim {
  0% {
    -webkit-transform:  translate(-50px,0px)  ;
  }
  50% {
    -webkit-transform:  translate(-1px,2px)  ;
  }
  100% {
    -webkit-transform:  translate(-49px,-1px)  ;
  }
}

@-o-keyframes circle-2-anim {
  0% {
    -o-transform:  translate(-50px,0px)  ;
  }
  50% {
    -o-transform:  translate(-1px,2px)  ;
  }
  100% {
    -o-transform:  translate(-49px,-1px)  ;
  }
}

@-ms-keyframes circle-2-anim {
  0% {
    -ms-transform:  translate(-50px,0px)  ;
  }
  50% {
    -ms-transform:  translate(-1px,2px)  ;
  }
  100% {
    -ms-transform:  translate(-49px,-1px)  ;
  }
}



@keyframes shield-1{
  0% {
    transform:  translate(0px,0px)  ;
  }
  50% {
    transform:  translate(-24px,-25px)  ;
  }
  100% {
    transform:  translate(0px,1px)  ;
  }
}

@-moz-keyframes shield-1{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  50% {
    -moz-transform:  translate(-24px,-25px)  ;
  }
  100% {
    -moz-transform:  translate(0px,1px)  ;
  }
}

@-webkit-keyframes shield-1 {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  50% {
    -webkit-transform:  translate(-24px,-25px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,1px)  ;
  }
}

@-o-keyframes shield-1 {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  50% {
    -o-transform:  translate(-24px,-25px)  ;
  }
  100% {
    -o-transform:  translate(0px,1px)  ;
  }
}

@-ms-keyframes shield-1 {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  50% {
    -ms-transform:  translate(-24px,-25px)  ;
  }
  100% {
    -ms-transform:  translate(0px,1px)  ;
  }
}


.shield-1-anim{
  animation: shield-1 linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: shield-1 linear 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: shield-1 linear 12s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: shield-1 linear 12s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: shield-1 linear 12s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}



.shield-2-anim{
  animation: shield-2 linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: shield-2 linear 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: shield-2 linear 12s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: shield-2 linear 12s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: shield-2 linear 12s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes shield-2{
  0% {
    transform:  translate(-49px,-1px)  ;
  }
  50% {
    transform:  translate(-21px,-26px)  ;
  }
  100% {
    transform:  translate(-49px,-1px)  ;
  }
}

@-moz-keyframes shield-2{
  0% {
    -moz-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -moz-transform:  translate(-21px,-26px)  ;
  }
  100% {
    -moz-transform:  translate(-49px,-1px)  ;
  }
}

@-webkit-keyframes shield-2 {
  0% {
    -webkit-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -webkit-transform:  translate(-21px,-26px)  ;
  }
  100% {
    -webkit-transform:  translate(-49px,-1px)  ;
  }
}

@-o-keyframes shield-2 {
  0% {
    -o-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -o-transform:  translate(-21px,-26px)  ;
  }
  100% {
    -o-transform:  translate(-49px,-1px)  ;
  }
}

@-ms-keyframes shield-2 {
  0% {
    -ms-transform:  translate(-49px,-1px)  ;
  }
  50% {
    -ms-transform:  translate(-21px,-26px)  ;
  }
  100% {
    -ms-transform:  translate(-49px,-1px)  ;
  }
}





@keyframes circle {
  from {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
  }
}


@keyframes circle-reverse {
  from {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
    visibility: visible;
  }
  to {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
    visibility: hidden;
  }
}




.circle-clip.was-in-viewport {

  animation: 1s  circle-reverse;

}



.circle-clip.in-viewport {
  animation: 10s  circle !important;
  animation-delay: 2s;
}



