body {
    background-color: #ecedf2 !important;
}

.header-menu-desktop {
    z-index: 99999;

    ul {
        li {
            a {
                color: #fff;
                text-decoration: none;

                :hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.nav-bg-change {
    background: #2d2d2d;
    padding: 10px 60px;
    z-index: 99999;
}


/*! Pushy - v1.3.0 - 2019-6-25
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 99999999;
    background: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
    display: block;
    color: #b3b3b1;
    padding: 15px 15px;
    text-decoration: none;
}

.pushy a:hover {
    color: #b3b3b1;
}

// .pushy ul:first-child {
//   margin-top: 10px;
// }
.pushy.pushy-left {
    left: 0;
}

.pushy.pushy-right {
    right: 0;
}

.pushy-content {
    visibility: hidden;
}

/* Menu Movement */
.pushy-left {
    -webkit-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
    -webkit-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.pushy-right {
    -webkit-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
    -webkit-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
    visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
    transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
    display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Submenu Appearance */
.pushy-submenu {

    /* Submenu Buttons */
    /* Submenu Icon */

}

a {
    .menu-img {
        display: none !important;
    }
}

.pushy-submenu>ul {
    padding-left: 15px;
    transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pushy-submenu>ul .pushy-link {
    transition: opacity 0.2s ease-in-out;
}

.pushy-submenu button {
    width: 100%;
    color: #b3b3b1;
    padding: 15px 30px;
    text-align: left;
    background: transparent;
    border: 0;
}

.pushy-submenu button:hover {
    color: #FFF;
}

.pushy-submenu>a,
.pushy-submenu>button {
    position: relative;
}

.pushy-submenu>a::after,
.pushy-submenu>button::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url("../img/arrow.svg") no-repeat;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed>ul {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.pushy-submenu-closed .pushy-link {
    opacity: 0;
}

.pushy-submenu-open {
    /* Submenu Icon */
}

.pushy-submenu-open>ul {
    max-height: 1000px;
    visibility: visible;
}

.pushy-submenu-open .pushy-link {
    opacity: 1;
}

.pushy-submenu-open>a::after,
.pushy-submenu-open>button::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}


.pushy-content ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #e4e4e4;

    div:last-child {
        margin-left: 15px;
    }
}



.pushy-content {

    ul {
        padding-left: 0px;
    }

    .active.dashbord-icon {
        background-image: url(../images/Dashboard_on.svg);
    }

    .active.devices-icon {
        background-image: url(../images/Devices_on.svg);
    }

    .active.users-icon {
        background-image: url(../images/Users_on.svg);
    }

    .active.policy-icon {
        background-image: url(../images/Policy-Center_on.svg);
    }

    .active.reports-icon {
        background-image: url(../images/Connectors_on.svg);
    }

    .active.connectors-icon {
        background-image: url(../images/Connectors_on.svg);
    }

    .active.analytic-icon {
        background-image: url(../images/Analytic_on.svg);
    }



    .pushy-link {

        display: flex;
        align-items: center;
    }

    .dashbord-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Dashboard_off.svg);

        &:hover {
            background-image: url(../images/Dashboard_on.svg);
        }

    }



    .devices-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Devices_off.svg);

        &:hover {
            background-image: url(../images/Devices_on.svg);
        }
    }

    .users-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Users_off.svg);

        &:hover {
            background-image: url(../images/Users_on.svg);
        }
    }

    .policy-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Policy-Center_off.svg);

        &:hover {
            background-image: url(../images/Policy-Center_on.svg);
        }
    }

    .reports-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Reports_off.svg);

        &:hover {
            background-image: url(../images/Reports_on.svg);
        }
    }

    .connectors-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Connectors_off.svg);

        &:hover {
            background-image: url(../images/Connectors_on.svg);
        }
    }

    .analytic-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Analytic_off.svg);

        &:hover {
            background-image: url(../images/Analytic_on.svg);
        }


    }



    .help-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/icon_help.svg);
    }

    .settings-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/settings.svg);
    }

    .user-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(../images/Users_off.svg);
    }





}

.menu-btn {
    background: #fff;
    border: 0px;
    position: absolute;
    // left: 15px;
    // top: 0px;
    // bottom: 0;
    // margin: auto;
    // display: none;
    padding: 4px 8px;
    display: none;
}

.menu-btn img {
    width: 24px;
}

.home-discover-porject-section {
    display: flex;
    position: relative;
    margin-top: 200px;

    .trangle-img {
        position: absolute;
        right: -97px;
        top: -80px;
    }
}

ol {
    counter-reset: item;
    margin: 0;
    padding-left: 0;
    padding-right: 108px;
}

ol>li {
    counter-increment: item;
    list-style: none inside;
    margin: 40px 0;
    overflow: hidden;
    font-size: 26px !important;
    line-height: 1.3;
}

ol>li:before {
    content: counter(item);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    background: #FF283C;
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    font-weight: 400;
    float: left;
    height: 48px;
}

.small-text {
    font-size: 16px !important;
}

.contact-form-section {
    display: flex;

    .cf-left-home {
        padding-right: 115px;
    }
}

/* form starting stylings ------------------------------- */

.contact-form {
    display: table;
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
}

.submit-form-btn:hover {
    // border: 1px solid #1fb0ef;
    cursor: pointer;
}

.submit-form-btn-active {
    border: 1px solid #1fb0ef;
    cursor: pointer;
}

.form-heading {
    font-size: 18px;
    margin-top: 24px;
}

.submit-button-row {
    // float: right;
    margin-bottom: 40px;
    width: 100%;
}

.submit-form-btn {
    background: #FF283C;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;
    padding: 8px 65px;
    text-align: center;
    width: auto;
}

.form-field input {
    border: 1px solid #cccccc;
    height: 34px;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
}

.contact-col-1 {
    width: 46%;
    float: left;

    .form-row {
        display: inherit;
    }
}

.contact-col-2 {
    width: 46%;
    float: right;

    .form-row {
        display: inherit;
    }
}

.form-heading-message {
    font-size: 14px;
}

.form-field textarea {
    border: 1px solid #FF283C;
    height: 30px;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
    height: 205px;
    resize: none;
}

.form-field select {
    border: 1px solid #FF283C;
    height: 34px;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
}

.submit-button-row {
    // float: right;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 2px solid #FF283C;
}

input:focus {
    outline: none;
}


/* LABEL ======================================= */

label {
    color: #212529;
    font-size: 16px;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: all 0.2s ease 0s;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 16px;
    color: #b1b1b1;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #FF283C;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 100%;
}

.group input {
    width: 100%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.group .bar {
    width: 100%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #transparent;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.form-error-message {
    display: table;
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.form-error-message span {
    border: 1px solid #c00;
    display: table;
    margin: 15px auto 0;
    padding: 5px 44px;
}

.group .error {
    border-bottom: 1px solid #C00;
    font-weight: bold !important;
}

.contact-col-1,
.contact-col-2 form {}

.group select {
    background: rgba(0, 0, 0, 0) url("../images/dropdown.png") no-repeat scroll right center;
    border: medium none;
    position: absolute;
    right: 0;
    border-bottom: 2px solid #FF283C;
    padding-bottom: 13px;
    text-overflow: "";
    top: 10px;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.group textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    overflow: auto;
    resize: none;
    vertical-align: top;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #bfbfbf;
}

.contact-form-comments {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;

    .form-row {
        display: inherit;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.footer-section {
    background: #f1f1f5;
    padding-top: 15px;

    .footer-contact-info-div {
        display: flex;
        justify-content: space-around;

        h3 {
            font-size: 20px;
        }
    }
}


.footerbar {
    background: #f1f1f5;
    width: 100%;
    border-top: 1px solid #b3b3b1;
    text-align: center;
    padding: 15px;
    margin-top: 15px;

    p {
        margin: 0px;
    }
}